.level-container{
    position: absolute;
    top: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 0.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
    
}